body{
	margin: 0%;
	background-image: url(twwo.jpg);
	background-size: no-repeat cover center center fixed;


}
.h1{

	font-size: 3em;
	background-color: rgba(214, 104, 164,0.5);
}
.main{
	/*position: 30PX;*/
	position: absolute;
	background-color: rgba(214, 104, 164,0.3);
	margin-top: 8%;
	/*margin-top: 50%;*/
	margin-right: 30%;
	margin-left: 30%;
	padding-left: 20PX;
	padding-right: 20px;
	padding-bottom: 20px;
	box-shadow: 0 0 30px rgba(214, 104, 164);
}
.main:hover{

  transform: scale(1);
  box-shadow: 0 0 30px #ffee10;
  
   /*box-shadow: 0 0 5px #ffee10;*/
}

/*@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}*/
#first{
	font-size: 2em;
	/*background-color: rgba(214, 104, 164,0.5);*/
}
#enter{
	font-size: 1.5em;
}

#userinput{
	font-size: 1.5em;
}
li{
	font-size: 1em;
}

a{
  font-size:1.5em;
  text-decoration: none;
  color: black;
  border:1px solid black;
  padding:10px;
  background-color: white;
  

}